/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-block: var(--page-padding);
  font-family: var(--font-Inter-Variable, sans-serif), sans-serif;
  font-size: var(--font-size__section);
  font-weight: var(--font-weight-Inter-text);
  background-image:
    var(--horizontal-stripes),
    var(--vertical-stripes),
    var(--color-gradient);
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
  align-items: center;
  line-height: normal;
}

.header {
  inline-size: clamp(300px, 85vw, 700px);
  block-size: clamp(200px, 40vh, 368px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: var(--section-border);
  background-color: var(--background-color__section);
  width: 700px;
  height: 368px;
}

.header-title {
  font-family: var(--font-PressStart2P, sans-serif), sans-serif;
  font-size: var(--font-size__header-title);
  columns: inherit;
}

.header-span {
  font-family: var(--font-PressStart2P, sans-serif), sans-serif;
  font-size: var(--font-size__header-span);
  text-transform: uppercase;
}

.main {
  inline-size: var(--section-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.section {
  margin: 50px 0 0 0;
  background-color: #fff;
  border: solid 2px #000;
  width: var(--block-width);
  justify-self: center;
  align-self: center;         
}

.section-title {
  font-size: var(--font-size__section-title);
  font-weight: var(--font-weight__section-title);
  max-block-size: 30px;
  border: var(--section-border);
  padding: 4px 10px;
  line-height: 1.156;
}

.section-image {
  position: relative;
  block-size: var(--image__block-size);
}

.image {
  inline-size: var(--image__inline-size);
  block-size: var(--image__block-size);
}

.image-more {
  filter: sepia(0.5) saturate(0.7) brightness(1.1);
}

.image-saturate {
  filter: saturate(300%);
}

.image-target {
  filter: hue-rotate(50deg);
}

.image-brightness {
  filter: invert(1) contrast(0.5);
}

.image-blur {
  filter: blur(0.9rem);
}

.image-sepia {
  filter: sepia(0.9);
}

.image-hue-rotate {
  filter: hue-rotate(100deg) contrast(0.7);
}

.section-image-wrapper {
  position: relative;
  block-size: clamp(200px, 40vh, 300px);
  overflow: hidden;
}

.lable {
  position: absolute;
  top: 28px;
  right: 21px; 
  font-family: var(--font-PressStart2P);
  font-size: 14px;
  letter-spacing: 1px;
  color: black;
  mix-blend-mode: hard-light;
  opacity: 0.7;
  z-index: 1;
  -webkit-text-stroke: 0.6px var(--text-stroke-color);
}

@supports not (-webkit-text-stroke: 1px white) {
  .lable {
    -webkit-text-stroke: none;
    color: black;
    text-shadow:
      1px 1px 0 var(--text-stroke-color),
      -1px -1px 0 var(--text-stroke-color),
      1px -1px 0 var(--text-stroke-color),
      -1px 1px 0 var(--text-stroke-color);
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  block-size: auto;
  line-height: 1.155;
  border-top: var(--section-border);
}

.my-memories {
  align-self: start;
}

.button-common {
  position: relative;
  background-color: transparent;
  font-family: var(--font-PressStart2P);
  font-size: 14px;
  cursor: pointer;
  overflow: hidden;
  transition: color 0.3s ease, box-shadow 0.3s ease;
  padding: 0;
}

.button-common:hover::before {
  transform: translateX(0);
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}
.like-icon .heart {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.1s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s;
}

.card__icon-button {
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  block-size: 38px;
  inline-size: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: transparent;
}

.like-icon {
  block-size: 36px;
  inline-size: 39px;
  cursor: pointer;
  transform-origin: center;
  overflow: visible;
  padding-right: 5px;
}

.card__like-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 25px 25px;
  gap: 6px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--contour-color);
}

.card__like-button {
  width: 130px;
  height: 38px;
  border: 2px solid #000;
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button-common:focus {
  outline: none;
  box-shadow: 2px 2px 0 #000;
}

.button__text {
  position: relative;
  color: #fff;
  mix-blend-mode: difference;
  transition: color 0.5s;
  z-index: 1;
}

.card__like-button:hover .button__text {
  color: #fff;
}

.dialog__button {
  width: var(--dialog-button-width);
  height: 38px;
}

.save-card {
  width: var(--footer-width);
  height: var(--save-button-height);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-self: center;
  margin: 50px 20px 100px 20px;
  background-color: #fff;
  border: solid 2px #000;
  padding: 0 15px;
  cursor: pointer;
  color: #000;
  position: relative;
}

.save-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.save-card:hover::before {
  transform: translateX(0);
}

.floppy-icon {
  height: auto;
  z-index: 1;
  position: relative;
  mix-blend-mode: difference;
  color: #fff;
}

.dialog__floppy {
  min-width: 39px;
  height: auto;
  flex-shrink: 0;
  margin: 0 0px 0 0;
  box-sizing: border-box;
  padding: 0 0 0 0;
  display: block;
}

.dialog {
  position: fixed;
  inset: 0;
  padding: 30px;
  border: 2px solid #000;
  background-color: #fff;
  width: var(--dialog-width);
  display: none;
  justify-items: center;
  align-content: center;
}

.dialog[open] {
  display: flex;
}

.dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

body:has(.dialog[open]) {
  overflow: hidden;
}

.dialog__content {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.dialog__header {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 0;
}

.dialog__title {
  font-family: var(--font-PressStart2P);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  max-width: 74%;
}

.dialog__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media (width >= 376px) {
  .floppy-icon {
    min-width: 21px;
    max-width: 29.25px;
    padding-top: 5px;
    margin-left: 3px;
  }
  .save-card {
    flex-direction: row;
  }
}

@media (width <= 376px) {
  .save-card {
    min-height: 84px;
    flex-direction: column;
  }
  .floppy-icon {
    min-width: 28px;
    margin-left: 10px;
  }
  .section-title {
    line-height: 137.5%;
  }
  .header {
    padding: 120px 0 120px 0;
    margin: 100px 0 100px 0;
  }
  .dialog__header {
    padding-left: 6px;
  }
}
